body {
  background-color: rgb(58, 62, 67);
  display: flex;
  justify-content: center;
}

header {
  margin: 10px 5px;
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.myName {
  font-size: 2em;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.menu li a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px ;
  transition: 0.5s;
}

.menu li a:hover {
  border: 1px solid white;
  transition: 0.5s;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-container {
  align-items: center;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-me-text {
  max-width: 500px;
  width: 100%;
}

.about-me-text h1 {
  margin-bottom: 50px;
}

.about-me {
  color: white;
}

.about-me-img {
  max-width: 300px;
  width: 100%;
}

.about-me-img img {
  width: 100%;
  border-radius: 5px;
}
