.skills {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skills-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  max-width: 1000px;
  width: 100%;
}
.skills-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0;
}
.skill-img {
    height: 180px;
    max-width: 125px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.skill-img img {
    width: 100%;
}
